# Request 라이브러리

## 라이브러리 설치

In [1]:
%pip install requests

Collecting requests
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.2.2-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2024.7.4-py3-none-any.whl.metadata (2.2 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
   ---------------------------------------- 0.0/64.9 kB ? eta -:--:--
   ---------------------------------------- 64.9/64.9 kB 1.7 MB/s eta 0:00:00
Downloading certifi-2024.7.4-py3-none-any.whl (162 kB)
   ---------------------------------------- 0.0/163.0 kB ? eta -:--:--
   --------------------------------------- 163.0/163.0 kB 10.2 MB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl (100 kB)
   ---------------------------------------- 0.0/100.4 kB ? eta -:--:--
   ---------------------------------------- 100.4/100.4 kB ? eta 0:00:00
Downloading idna-3.7-py3-none-any.whl (66 kB)
   ---------------------------------------- 0.0/66.8 kB ? eta -:--:--
   ---------------------------------------- 66.8/66.8 kB ? eta 0:00:00
Downloading urllib3-2.2.2-py3-none-any.whl (121 kB)
   ---------------------------------------- 0.0/121.4 kB ? eta -:--:--
   ---------------------------------------- 121.4/121.4 kB 7.0 MB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2024.7.4 charset-normalizer-3.3.2 idna-3.7 requests-2.32.3 urllib3-2.2.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import requests

In [10]:
# url = 'https://www.naver.com'
# url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
url = 'https://api.chucknorris.io/jokes/random'
response = requests.get(url)

if response.status_code == 200:
    print(response.text)
else:
    print(response.status_code)

{"categories":[],"created_at":"2020-01-05 13:42:29.569033","icon_url":"https://api.chucknorris.io/img/avatar/chuck-norris.png","id":"K6vBH_8qTNOG0RnJ8vhwtw","updated_at":"2020-01-05 13:42:29.569033","url":"https://api.chucknorris.io/jokes/K6vBH_8qTNOG0RnJ8vhwtw","value":"Chuck Norris regularly smashes open his computer to eat the cookies within."}

In [20]:
print(type(response))
print(type(response.text))

<class 'requests.models.Response'>
<class 'str'>

In [22]:
result = response.json()
print(result)
print(type(result))

{'categories': [], 'created_at': '2020-01-05 13:42:29.569033', 'icon_url': 'https://api.chucknorris.io/img/avatar/chuck-norris.png', 'id': 'K6vBH_8qTNOG0RnJ8vhwtw', 'updated_at': '2020-01-05 13:42:29.569033', 'url': 'https://api.chucknorris.io/jokes/K6vBH_8qTNOG0RnJ8vhwtw', 'value': 'Chuck Norris regularly smashes open his computer to eat the cookies within.'}
<class 'dict'>

In [18]:
print(result['categories'])
print(result['created_at'])
print(result['icon_url'])
print(result['id'])
print(result['updated_at'])
print(result['url'])
print(result['value'])

[]
2020-01-05 13:42:29.569033
https://api.chucknorris.io/img/avatar/chuck-norris.png
K6vBH_8qTNOG0RnJ8vhwtw
2020-01-05 13:42:29.569033
https://api.chucknorris.io/jokes/K6vBH_8qTNOG0RnJ8vhwtw
Chuck Norris regularly smashes open his computer to eat the cookies within.

In [14]:
import pandas as pd

issue_labels = pd.DataFrame(result)
issue_labels

Empty DataFrame
Columns: [categories, created_at, icon_url, id, updated_at, url, value]
Index: []

In [46]:
# Python3 샘플 코드 #
import requests

# 일반 인증키 (Decoding) 사용
apikey = 'CTYRyVuDwSNng8WPJCY6Lm0A9JtQXyNRYn+7lI8FhtdmOgAF5g3dKjtS6AVkxJGU+dJXoZ2cmlEwbt7r6H1QsA=='

url = 'http://apis.data.go.kr/1471000/FoodNtrIrdntInfoService1/getFoodNtrItdntList1'

# 바나나칩
params ={'serviceKey' : apikey, 
         'desc_kor' : '바나나칩', 
         'pageNo' : '1', 
         'numOfRows' : '3', 
         'bgn_year' : '2017', 
         'animal_plant' : '(유)돌코리아', 
         'type' : 'json' }

response = requests.get(url, params=params)

if response.status_code == 200:
    result = response.json()
    print(result)
else:
    print('실패 : ', response.status_code)

{'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'pageNo': 1, 'totalCount': 1, 'numOfRows': 3, 'items': [{'DESC_KOR': '바나나칩', 'SERVING_WT': '30', 'NUTR_CONT1': '49.50', 'NUTR_CONT2': '5.40', 'NUTR_CONT3': '0.30', 'NUTR_CONT4': '3.00', 'NUTR_CONT5': '3.30', 'NUTR_CONT6': '0.60', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.70', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '(유)돌코리아'}]}}

In [47]:
print(result)
print(type(result))

{'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'pageNo': 1, 'totalCount': 1, 'numOfRows': 3, 'items': [{'DESC_KOR': '바나나칩', 'SERVING_WT': '30', 'NUTR_CONT1': '49.50', 'NUTR_CONT2': '5.40', 'NUTR_CONT3': '0.30', 'NUTR_CONT4': '3.00', 'NUTR_CONT5': '3.30', 'NUTR_CONT6': '0.60', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.70', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '(유)돌코리아'}]}}
<class 'dict'>

In [48]:
for dic in result:
    print(dic)

header
body

In [49]:
print(result['header'])
print(result['body'])

print(result['body']['items'][0]['DESC_KOR'])       # 바나나칩
print(result['body']['items'][0]['NUTR_CONT1'])     # 열량

{'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}
{'pageNo': 1, 'totalCount': 1, 'numOfRows': 3, 'items': [{'DESC_KOR': '바나나칩', 'SERVING_WT': '30', 'NUTR_CONT1': '49.50', 'NUTR_CONT2': '5.40', 'NUTR_CONT3': '0.30', 'NUTR_CONT4': '3.00', 'NUTR_CONT5': '3.30', 'NUTR_CONT6': '0.60', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.70', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '(유)돌코리아'}]}
바나나칩
49.50

## 실습(새우깡)

In [50]:
# Python3 샘플 코드 #
import requests

# 일반 인증키 (Decoding) 사용
apikey = 'CTYRyVuDwSNng8WPJCY6Lm0A9JtQXyNRYn+7lI8FhtdmOgAF5g3dKjtS6AVkxJGU+dJXoZ2cmlEwbt7r6H1QsA=='

url = 'http://apis.data.go.kr/1471000/FoodNtrIrdntInfoService1/getFoodNtrItdntList1'

# 새우깡 
#  (식품이름, 열량, 1회제공량, 구축년도) DataFrame 형태로 반환
params ={'serviceKey' : apikey, 
         'desc_kor' : '새우깡', 
         'type' : 'json' }

response = requests.get(url, params=params)

if response.status_code == 200:
    result = response.json()
    print(result)
else:
    print('실패 : ', response.status_code)

{'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'pageNo': 1, 'totalCount': 8, 'numOfRows': 10, 'items': [{'DESC_KOR': '과자,DHA새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '151.20', 'NUTR_CONT2': '18.12', 'NUTR_CONT3': '1.80', 'NUTR_CONT4': '7.35', 'NUTR_CONT5': 'N/A', 'NUTR_CONT6': '210.00', 'NUTR_CONT7': 'N/A', 'NUTR_CONT8': 'N/A', 'NUTR_CONT9': 'N/A', 'BGN_YEAR': '2006', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '과자,DHA새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '45.36', 'NUTR_CONT2': '5.44', 'NUTR_CONT3': '0.54', 'NUTR_CONT4': '2.20', 'NUTR_CONT5': '0.30', 'NUTR_CONT6': '63.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.00', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '146.67', 'NUTR_CONT2': '20.00', 'NUTR_CONT3': '2.00', 'NUTR_CONT4': '6.67', 'NUTR_CONT5': '1.33', 'NUTR_CONT6': '180.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.13', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2015', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '44.00', 'NUTR_CONT2': '6.00', 'NUTR_CONT3': '0.60', 'NUTR_CONT4': '2.00', 'NUTR_CONT5': '0.30', 'NUTR_CONT6': '54.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.64', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '매운새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '146.67', 'NUTR_CONT2': '20.00', 'NUTR_CONT3': '2.00', 'NUTR_CONT4': '6.67', 'NUTR_CONT5': '1.33', 'NUTR_CONT6': '213.33', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.13', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2015', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '매운새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '44.00', 'NUTR_CONT2': '6.00', 'NUTR_CONT3': '0.60', 'NUTR_CONT4': '2.00', 'NUTR_CONT5': '0.60', 'NUTR_CONT6': '64.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.64', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '쌀새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '150.00', 'NUTR_CONT2': '19.50', 'NUTR_CONT3': '1.50', 'NUTR_CONT4': '7.50', 'NUTR_CONT5': '1.50', 'NUTR_CONT6': '157.50', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.17', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2015', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '쌀새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '45.00', 'NUTR_CONT2': '5.85', 'NUTR_CONT3': '0.45', 'NUTR_CONT4': '2.25', 'NUTR_CONT5': '0.45', 'NUTR_CONT6': '47.25', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.65', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}]}}

In [65]:
for item in result['body']['items']:
    print(item['DESC_KOR'], item['NUTR_CONT1'], item['SERVING_WT'], item['BGN_YEAR'])

과자,DHA새우깡 151.20 30 2006
과자,DHA새우깡 45.36 30 2017
새우깡 146.67 30 2015
새우깡 44.00 30 2017
매운새우깡 146.67 30 2015
매운새우깡 44.00 30 2017
쌀새우깡 150.00 30 2015
쌀새우깡 45.00 30 2017

In [76]:
df = pd.DataFrame(result['body']['items']).reindex(columns=['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR'])
df2.columns = ['식품이름', '열량 (kcal)', '1회제공량 (g)', '구축년도']
df2

        식품이름 열량 (kcal) 1회제공량 (g)  구축년도
0  과자,DHA새우깡    151.20        30  2006
1  과자,DHA새우깡     45.36        30  2017
2        새우깡    146.67        30  2015
3        새우깡     44.00        30  2017
4      매운새우깡    146.67        30  2015
5      매운새우깡     44.00        30  2017
6       쌀새우깡    150.00        30  2015
7       쌀새우깡     45.00        30  2017

In [63]:
# 식품이름(DESC_KOR)
# 열량 (kcal) (NUTR_CONT1)
# 1회제공량 (g) (SERVING_WT)
# 구축년도 (BGN_YEAR)

df = pd.DataFrame(result['body']['items'])

# ===========================================================================
# Column Select
# Case1
df2 = df[['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR']]
# ===========================================================================


# ===========================================================================
# Column Rename
# Case1
df2.columns = ['식품이름', '열량 (kcal)', '1회제공량 (g)', '구축년도']
# Case2
newcols = {'DESC_KOR' : '식품이름', 'NUTR_CONT1' : '열량 (kcal)', 'SERVING_WT' : '1회제공량 (g)', 'BGN_YEAR' : '구축년도'}
df2.rename(columns=newcols, inplace=True)
# ===========================================================================

df2

        식품이름 열량 (kcal) 1회제공량 (g)  구축년도
0  과자,DHA새우깡    151.20        30  2006
1  과자,DHA새우깡     45.36        30  2017
2        새우깡    146.67        30  2015
3        새우깡     44.00        30  2017
4      매운새우깡    146.67        30  2015
5      매운새우깡     44.00        30  2017
6       쌀새우깡    150.00        30  2015
7       쌀새우깡     45.00        30  2017