## 실습(새우깡)

## Case. dzP

In [10]:
# Python3 샘플 코드 #
import requests
import pandas as pd

import keys     # key값 저장 파이썬 파일

# 일반 인증키 (Decoding) 사용
#apikey = 'CTYRyVuDwSNng8WPJCY6Lm0A9JtQXyNRYn+7lI8FhtdmOgAF5g3dKjtS6AVkxJGU+dJXoZ2cmlEwbt7r6H1QsA=='
apikey = keys.key1

url = 'http://apis.data.go.kr/1471000/FoodNtrIrdntInfoService1/getFoodNtrItdntList1'

# 새우깡 
#  (식품이름, 열량, 1회제공량, 구축년도) DataFrame 형태로 반환
params ={'serviceKey' : apikey, 
         'desc_kor' : '새우깡', 
         'type' : 'json' }

response = requests.get(url, params=params)

if response.status_code == 200:
    result = response.json()
    print(result)
else:
    print('실패 : ', response.status_code)

{'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}, 'body': {'pageNo': 1, 'totalCount': 8, 'numOfRows': 10, 'items': [{'DESC_KOR': '과자,DHA새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '151.20', 'NUTR_CONT2': '18.12', 'NUTR_CONT3': '1.80', 'NUTR_CONT4': '7.35', 'NUTR_CONT5': 'N/A', 'NUTR_CONT6': '210.00', 'NUTR_CONT7': 'N/A', 'NUTR_CONT8': 'N/A', 'NUTR_CONT9': 'N/A', 'BGN_YEAR': '2006', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '과자,DHA새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '45.36', 'NUTR_CONT2': '5.44', 'NUTR_CONT3': '0.54', 'NUTR_CONT4': '2.20', 'NUTR_CONT5': '0.30', 'NUTR_CONT6': '63.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.00', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '146.67', 'NUTR_CONT2': '20.00', 'NUTR_CONT3': '2.00', 'NUTR_CONT4': '6.67', 'NUTR_CONT5': '1.33', 'NUTR_CONT6': '180.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.13', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2015', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '44.00', 'NUTR_CONT2': '6.00', 'NUTR_CONT3': '0.60', 'NUTR_CONT4': '2.00', 'NUTR_CONT5': '0.30', 'NUTR_CONT6': '54.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.64', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '매운새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '146.67', 'NUTR_CONT2': '20.00', 'NUTR_CONT3': '2.00', 'NUTR_CONT4': '6.67', 'NUTR_CONT5': '1.33', 'NUTR_CONT6': '213.33', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.13', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2015', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '매운새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '44.00', 'NUTR_CONT2': '6.00', 'NUTR_CONT3': '0.60', 'NUTR_CONT4': '2.00', 'NUTR_CONT5': '0.60', 'NUTR_CONT6': '64.00', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.64', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '쌀새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '150.00', 'NUTR_CONT2': '19.50', 'NUTR_CONT3': '1.50', 'NUTR_CONT4': '7.50', 'NUTR_CONT5': '1.50', 'NUTR_CONT6': '157.50', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '2.17', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2015', 'ANIMAL_PLANT': '농심'}, {'DESC_KOR': '쌀새우깡', 'SERVING_WT': '30', 'NUTR_CONT1': '45.00', 'NUTR_CONT2': '5.85', 'NUTR_CONT3': '0.45', 'NUTR_CONT4': '2.25', 'NUTR_CONT5': '0.45', 'NUTR_CONT6': '47.25', 'NUTR_CONT7': '0.00', 'NUTR_CONT8': '0.65', 'NUTR_CONT9': '0.00', 'BGN_YEAR': '2017', 'ANIMAL_PLANT': '농심'}]}}

In [2]:
for item in result['body']['items']:
    print(item['DESC_KOR'], item['NUTR_CONT1'], item['SERVING_WT'], item['BGN_YEAR'])

과자,DHA새우깡 151.20 30 2006
과자,DHA새우깡 45.36 30 2017
새우깡 146.67 30 2015
새우깡 44.00 30 2017
매운새우깡 146.67 30 2015
매운새우깡 44.00 30 2017
쌀새우깡 150.00 30 2015
쌀새우깡 45.00 30 2017

In [8]:
df = pd.DataFrame(result['body']['items'])
df.columns

for i,j in enumerate(df.columns):
    print(i, j)

0 DESC_KOR
1 SERVING_WT
2 NUTR_CONT1
3 NUTR_CONT2
4 NUTR_CONT3
5 NUTR_CONT4
6 NUTR_CONT5
7 NUTR_CONT6
8 NUTR_CONT7
9 NUTR_CONT8
10 NUTR_CONT9
11 BGN_YEAR
12 ANIMAL_PLANT

In [23]:

df2 = pd.DataFrame(result['body']['items'][['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR']])
# df2 = pd.DataFrame(result['body']['items'], columns = ['식품이름', '열량 (kcal)', '1회제공량 (g)', '구축년도']).reindex(columns=['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR'])

df2

TypeError: list indices must be integers or slices, not list

In [36]:
# 식품이름(DESC_KOR)
# 열량 (kcal) (NUTR_CONT1)
# 1회제공량 (g) (SERVING_WT)
# 구축년도 (BGN_YEAR)

df = pd.DataFrame(result['body']['items'])

# ===========================================================================
# Column Select
# Case1
#df2 = df[['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR']]
#df2 = df[['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR']][:]
#df2 = df.loc[:, ['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR']]
df2 = df.iloc[:, [0, 2, 1, 11]]
# ===========================================================================


# ===========================================================================
# Column Rename
# Case1
df2.columns = ['식품이름', '열량 (kcal)', '1회제공량 (g)', '구축년도']
# Case2
# newcols = {'DESC_KOR' : '식품이름', 'NUTR_CONT1' : '열량 (kcal)', 'SERVING_WT' : '1회제공량 (g)', 'BGN_YEAR' : '구축년도'}
# df2.rename(columns=newcols, inplace=True)
# ===========================================================================

df2

        식품이름 열량 (kcal) 1회제공량 (g)  구축년도
0  과자,DHA새우깡    151.20        30  2006
1  과자,DHA새우깡     45.36        30  2017
2        새우깡    146.67        30  2015
3        새우깡     44.00        30  2017
4      매운새우깡    146.67        30  2015
5      매운새우깡     44.00        30  2017
6       쌀새우깡    150.00        30  2015
7       쌀새우깡     45.00        30  2017

## Case. Teach

In [20]:
# Python3 샘플 코드 #
import requests
import pandas as pd

import keys     # key값 저장 파이썬 파일

# 일반 인증키 (Decoding) 사용
apikey = keys.key1

url = 'http://apis.data.go.kr/1471000/FoodNtrIrdntInfoService1/getFoodNtrItdntList1'

# 새우깡 
#  (식품이름, 열량, 1회제공량, 구축년도) DataFrame 형태로 반환
params ={'serviceKey' : apikey, 
         'desc_kor' : '새우깡', 
         'type' : 'json' }

# 데이터 가져오기
response = requests.get(url, params=params)

if response.status_code == 200:
    result = response.json()
    items = result['body']['items']
    data = []
    for item in items:
        # 'DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR'
        data.append([item['DESC_KOR'], item['NUTR_CONT1'], item['SERVING_WT'], item['BGN_YEAR']])
        
    df = pd.DataFrame(data, columns=['식품이름', '1회 제공량', '열량', '조사년도'])
    print(df)
else:
    print('실패 : ', response.status_code)

        식품이름  1회 제공량  열량  조사년도
0  과자,DHA새우깡  151.20  30  2006
1  과자,DHA새우깡   45.36  30  2017
2        새우깡  146.67  30  2015
3        새우깡   44.00  30  2017
4      매운새우깡  146.67  30  2015
5      매운새우깡   44.00  30  2017
6       쌀새우깡  150.00  30  2015
7       쌀새우깡   45.00  30  2017

## 실습(API 호출 함수로 구현)

In [18]:
def Call_API():
    import requests
    import pandas as pd

    import keys     # key값 저장 파이썬 파일

    _desc_kor = str(input('식품이름을 입력해주세요=>'))
    print(f'{_desc_kor}를 입력하셨습니다')
    
    # 일반 인증키 (Decoding) 사용
    apikey = keys.key1

    url = 'http://apis.data.go.kr/1471000/FoodNtrIrdntInfoService1/getFoodNtrItdntList1'

    # 새우깡 
    #  (식품이름, 열량, 1회제공량, 구축년도) DataFrame 형태로 반환
    params ={'serviceKey' : apikey, 
             'desc_kor' : _desc_kor, 
             'type' : 'json' }

    # 데이터 가져오기
    response = requests.get(url, params=params)

    if response.status_code == 200:
        result = response.json()   # response => json 형식으로 변환
        # print(result)
        if 'items' in result['body'].keys():
        # if result['body']['totalCount'] > 0:
            items = result['body']['items']
        
            # DataFrame으로 변환
            df = pd.DataFrame(items)
            # 컬럼 조회 (['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR'])
            df = df[['DESC_KOR', 'NUTR_CONT1', 'SERVING_WT', 'BGN_YEAR']]
            # 컬럼이름 변경 (['식품이름', '1회 제공량', '열량', '조사년도'])
            df.columns=['식품이름', '1회 제공량', '열량', '조사년도']        
        
            return df
        else:
            # return 'f{_desc_kor}을 조회하지 못했습니다.'
            return []
    else:
        return '실패 : ', response.status_code

In [19]:
Call_API()

마라탕를 입력하셨습니다

[]